interfaz/Web References/RMI/RMIStation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns="http://RMIStation" xmlns:ns1="http://org.apache.axis2/xsd" targetNamespace="http://RMIStation" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://RMIStation">
      <xs:element name="GetHumedad">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetHumedadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="leerArchivo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="s" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="leerArchivoResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPantalla">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetPantallaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="SetPantalla">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="p" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTemperatura">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetTemperaturaResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Getluminosidad">
        <xs:complexType>
          <xs:sequence />
        </xs:complexType>
      </xs:element>
      <xs:element name="GetluminosidadResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="leerArchivoRequest">
    <wsdl:part name="parameters" element="ns:leerArchivo" />
  </wsdl:message>
  <wsdl:message name="leerArchivoResponse">
    <wsdl:part name="parameters" element="ns:leerArchivoResponse" />
  </wsdl:message>
  <wsdl:message name="GetluminosidadRequest">
    <wsdl:part name="parameters" element="ns:Getluminosidad" />
  </wsdl:message>
  <wsdl:message name="GetluminosidadResponse">
    <wsdl:part name="parameters" element="ns:GetluminosidadResponse" />
  </wsdl:message>
  <wsdl:message name="GetPantallaRequest">
    <wsdl:part name="parameters" element="ns:GetPantalla" />
  </wsdl:message>
  <wsdl:message name="GetPantallaResponse">
    <wsdl:part name="parameters" element="ns:GetPantallaResponse" />
  </wsdl:message>
  <wsdl:message name="GetHumedadRequest">
    <wsdl:part name="parameters" element="ns:GetHumedad" />
  </wsdl:message>
  <wsdl:message name="GetHumedadResponse">
    <wsdl:part name="parameters" element="ns:GetHumedadResponse" />
  </wsdl:message>
  <wsdl:message name="GetTemperaturaRequest">
    <wsdl:part name="parameters" element="ns:GetTemperatura" />
  </wsdl:message>
  <wsdl:message name="GetTemperaturaResponse">
    <wsdl:part name="parameters" element="ns:GetTemperaturaResponse" />
  </wsdl:message>
  <wsdl:message name="SetPantallaRequest">
    <wsdl:part name="parameters" element="ns:SetPantalla" />
  </wsdl:message>
  <wsdl:portType name="RMIStationPortType">
    <wsdl:operation name="leerArchivo">
      <wsdl:input wsaw:Action="urn:leerArchivo" message="ns:leerArchivoRequest" />
      <wsdl:output wsaw:Action="urn:leerArchivoResponse" message="ns:leerArchivoResponse" />
    </wsdl:operation>
    <wsdl:operation name="Getluminosidad">
      <wsdl:input wsaw:Action="urn:Getluminosidad" message="ns:GetluminosidadRequest" />
      <wsdl:output wsaw:Action="urn:GetluminosidadResponse" message="ns:GetluminosidadResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetPantalla">
      <wsdl:input wsaw:Action="urn:GetPantalla" message="ns:GetPantallaRequest" />
      <wsdl:output wsaw:Action="urn:GetPantallaResponse" message="ns:GetPantallaResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetHumedad">
      <wsdl:input wsaw:Action="urn:GetHumedad" message="ns:GetHumedadRequest" />
      <wsdl:output wsaw:Action="urn:GetHumedadResponse" message="ns:GetHumedadResponse" />
    </wsdl:operation>
    <wsdl:operation name="GetTemperatura">
      <wsdl:input wsaw:Action="urn:GetTemperatura" message="ns:GetTemperaturaRequest" />
      <wsdl:output wsaw:Action="urn:GetTemperaturaResponse" message="ns:GetTemperaturaResponse" />
    </wsdl:operation>
    <wsdl:operation name="SetPantalla">
      <wsdl:input wsaw:Action="urn:SetPantalla" message="ns:SetPantallaRequest" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RMIStationSoap11Binding" type="ns:RMIStationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="leerArchivo">
      <soap:operation soapAction="urn:leerArchivo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getluminosidad">
      <soap:operation soapAction="urn:Getluminosidad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPantalla">
      <soap:operation soapAction="urn:GetPantalla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHumedad">
      <soap:operation soapAction="urn:GetHumedad" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatura">
      <soap:operation soapAction="urn:GetTemperatura" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPantalla">
      <soap:operation soapAction="urn:SetPantalla" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RMIStationSoap12Binding" type="ns:RMIStationPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="leerArchivo">
      <soap12:operation soapAction="urn:leerArchivo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getluminosidad">
      <soap12:operation soapAction="urn:Getluminosidad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPantalla">
      <soap12:operation soapAction="urn:GetPantalla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHumedad">
      <soap12:operation soapAction="urn:GetHumedad" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatura">
      <soap12:operation soapAction="urn:GetTemperatura" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPantalla">
      <soap12:operation soapAction="urn:SetPantalla" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RMIStationHttpBinding" type="ns:RMIStationPortType">
    <http:binding verb="POST" />
    <wsdl:operation name="leerArchivo">
      <http:operation location="leerArchivo" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Getluminosidad">
      <http:operation location="Getluminosidad" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPantalla">
      <http:operation location="GetPantalla" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHumedad">
      <http:operation location="GetHumedad" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTemperatura">
      <http:operation location="GetTemperatura" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetPantalla">
      <http:operation location="SetPantalla" />
      <wsdl:input>
        <mime:content part="parameters" type="application/xml" />
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RMIStation">
    <wsdl:port name="RMIStationHttpSoap11Endpoint" binding="ns:RMIStationSoap11Binding">
      <soap:address location="http://localhost:8080/RMIStation/services/RMIStation.RMIStationHttpSoap11Endpoint/" />
    </wsdl:port>
    <wsdl:port name="RMIStationHttpSoap12Endpoint" binding="ns:RMIStationSoap12Binding">
      <soap12:address location="http://localhost:8080/RMIStation/services/RMIStation.RMIStationHttpSoap12Endpoint/" />
    </wsdl:port>
    <wsdl:port name="RMIStationHttpEndpoint" binding="ns:RMIStationHttpBinding">
      <http:address location="http://localhost:8080/RMIStation/services/RMIStation.RMIStationHttpEndpoint/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>